@use "./../../abstract/responsive" as mix;

.whyProducts {
  padding: 7rem;
  // width: 100%;
  height: 90vh;

  @include mix.respond(smallPhone) {
    padding: 2rem;
    height: 100%;
  }

  @include mix.respond(tablets) {
    padding: 2rem;
    height: 100%;
  }

  &-container {
    display: flex;
    // gap: 17rem;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    margin-top: 40px;

    @include mix.respond(smallPhone) {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      gap: 2rem;
    }

    @include mix.respond(tablets) {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      gap: 2rem;
    }

    &-title {
      font-size: 4rem;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: left;
      width: 18rem;
      align-items: first baseline;

      @include mix.respond(smallPhone) {
        font-size: 3rem;
        width: 100%;
        text-align: center;
      }
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      gap: 5rem;
      margin-top: 38px;

      @include mix.respond(smallPhone) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 3rem 1rem;
        margin-top: 0px;
      }

      @include mix.respond(tablets) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-icon {
        font-size: 24px;
        color: black;
        margin-bottom: 1.8em;

        @include mix.respond(smallPhone) {
          font-size: 1rem;
          margin-bottom: 0px;
        }

        @include mix.respond(tablets) {
          font-size: 1rem;
        }
      }

      &-title {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 5px;
        text-align: left;

        @include mix.respond(smallPhone) {
          font-size: 1rem;
        }

        @include mix.respond(tablets) {
          font-size: 1rem;
        }
      }

      &-description {
        font-size: 18px;
        color: #070707;
        width: 20rem;
        text-align: left;
        width: 15rem;
        font-weight: 500;

        @include mix.respond(smallPhone) {
          font-size: 0.5rem;
          width: 10rem;
        }

        @include mix.respond(tablets) {
          font-size: 1rem;
          width: 15rem;
        }
      }
    }
  }
}
