@use "./../../abstract/responsive" as mix;

.heroSection {
  background-color: #b3d9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // padding: 60px 20px;
  height: 60vh;
  // gap: 2rem;

  @include mix.respond(smallPhone) {
    height: 100%;
    padding: 2rem;
  }

  &-company {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -20px; // Added negative margin to reduce top gap
    color: #333;
    width: 3rem; // Changed from 3rem to 100% for center alignment
    text-align: center; // Explicitly set text alignment

    @include mix.respond(smallPhone) {
      font-size: 1.5rem;
      margin-top: 0;
      width: 100%;
    }

    span {
      font-weight: 800;
    }
  }

  &-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    width: 90%;
    margin: 0 auto 15px;
    margin-top: 30px;
    text-align: center; // Explicitly set text alignment
    max-width: 100%; // Added max-width to prevent overflow

    @include mix.respond(smallPhone) {
      // width: 15rem;
      font-size: 1rem;
      margin-top: 1rem;
      font-weight: 300;
      // font-weight: 700;
    }
  }

  &-subtitle {
    font-size: 14px;
    color: #333;

    @include mix.respond(smallPhone) {
      // width: 10rem;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}
