@use "./../../abstract/responsive" as mix;

.productDetails {
  background-color: rgb(255, 255, 255);
  display: flex;

  align-items: center;
  justify-content: left;
  height: 100vh;
  width: 100%;
  padding: 15rem;

  @include mix.respond(smallPhone) {
    padding: 5px;
    display: flex;
    // align-items: center;
    justify-content: center;
    height: 70vh;
  }

  @include mix.respond(tablets) {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }

  &-container {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;

    @include mix.respond(smallPhone) {
      display: flex;
      flex-direction: column;

      gap: 2rem;
    }

    @include mix.respond(tablets) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 90%;
    }

    &-image {
      width: 35rem;
      height: 37rem;

      @include mix.respond(smallPhone) {
        width: 70%;
        height: 70%;
      }

      @include mix.respond(tablets) {
        width: 80%;
        height: 80%;
      }
    }
    &-details {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;

      @include mix.respond(smallPhone) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      @include mix.respond(tablets) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      &-smallhead {
        font-size: 1.2rem;
        font-weight: 200;

        @include mix.respond(smallPhone) {
          font-size: 0.5rem;
        }

        @include mix.respond(tablets) {
          font-size: 1rem;
        }
      }
      &-head {
        font-size: 3rem;
        font-weight: 600;

        @include mix.respond(smallPhone) {
          font-size: 1rem;
        }

        @include mix.respond(tablets) {
          font-size: 2rem;
        }
      }
      &-description {
        font-size: 1.5rem;
        font-weight: 400;
        width: 32rem;

        @include mix.respond(smallPhone) {
          font-size: 0.5rem;
          width: 15rem;
          text-align: center;
        }

        @include mix.respond(tablets) {
          font-size: 1rem;
          width: 25rem;
          text-align: center;
        }
      }
      &-button {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        height: 4rem;
        width: 15rem;
        font-size: 1.1rem;
        border-radius: 3rem;
        border: none;
        font-weight: 600;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
         box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        }
        &-icon {
          font-size: 1.5rem;
          margin-left: 0.5rem;
        }
      }
      &-features {
        display: flex;
        gap: 2rem;

        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          h5 {
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
