@use "./../../abstract/responsive" as mix;

.mattress {
  background-color: antiquewhite;
  height: 100vh;
  background-image: url("./../../../src/assets/me/zulian-firmansyah-3AvEi1EoIyM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include mix.respond(smallPhone) {
    height: 80vh;
    padding: 2rem;
  }

  @include mix.respond(tablets) {
    height: 100vh;
    background-image: url("./../../../src/assets/img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    padding: 6rem;
    gap: 2rem;

    @include mix.respond(smallPhone) {
      padding: 1px;
      gap: 0.5rem;
    }

    @include mix.respond(tablets) {
      padding: 2rem;
    }

    &-para {
      color: black;
      font-weight: 500;
      font-size: 5rem;
      text-align: right;
      width: 60%;

      @include mix.respond(smallPhone) {
        font-size: 1.45rem;
        width: 100%;
      }

      @include mix.respond(tablets) {
        font-size: 3rem;
      }
    }
    &-advice {
      color: black;
      text-align: left;

      @include mix.respond(smallPhone) {
        font-size: 1rem;
        width: 100%;
        text-align: right;
      }

      @include mix.respond(tablets) {
        font-size: 1rem;
      }
    }
  }
}
