@use "./../../abstract/responsive" as mix;

.mattress {
  background-color: antiquewhite;
  height: 115vh;
  background-image: url("https://marketlube-website-assets.s3.ap-south-1.amazonaws.com/Dsleep/dsleep-02_sn45rf.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white !important;

  @include mix.respond(smallPhone) {
    height: 80vh;
    padding: 2rem;
  }
  @include mix.respond(phone) {
    height: 85vh;
    padding: 2.5rem;
  }
  @include mix.respond(tablets) {
    height: 100vh;
    background-image: url("https://marketlube-website-assets.s3.ap-south-1.amazonaws.com/Dsleep/dsleep-02_sn45rf.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include mix.respond(bigTablets) {
    height: 100vh;
    padding: 0rem;
  }

  @include mix.respond(desktop) {
    height: 100vh;
    padding: 0rem;
  }

  @include mix.respond(bigDesktop) {
    height: 135vh;
    padding: 0rem;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    padding: 6rem;
    gap: 2rem;

    @include mix.respond(smallPhone) {
      padding: 1px;
      gap: 0.5rem;
    }

    @include mix.respond(phone) {
      padding: 1rem;
      gap: 1rem;
    }

    @include mix.respond(tablets) {
      padding: 2rem;
    }

    @include mix.respond(bigTablets) {
      padding: 3rem;
      gap: 1.5rem;
    }

    @include mix.respond(desktop) {
      padding: 4rem;
      gap: 1.75rem;
    }

    @include mix.respond(bigDesktop) {
      padding: 5rem;
      gap: 4rem;
    }

    &-para {
      color: black;
      font-weight: 500;
      font-size: 5rem;
      text-align: right;
      width: 60%;
      @media screen and (min-width: 350px) and (max-width: 380px) {
        width: 110% !important;
        font-size: 1.45rem !important;
      }

      @include mix.respond(smallPhone) {
        font-size: 1.45rem;
        width: 105%;
      }

      @include mix.respond(phone) {
        font-size: 2rem;
        width: 95%;
      }

      @include mix.respond(tablets) {
        font-size: 3rem;
        width: 80%;
      }

      @include mix.respond(bigTablets) {
        font-size: 3.5rem;
        width: 70%;
      }

      @include mix.respond(desktop) {
        font-size: 4rem;
        width: 65%;
      }

      @include mix.respond(bigDesktop) {
        font-size: 4rem;
        width: 75%;
      }
    }
    &-advice {
      color: black;
      text-align: left;
      letter-spacing: 0.2rem;

      @include mix.respond(smallPhone) {
        font-size: 0.8rem;
        width: 100%;
        text-align: right;
      }

      @include mix.respond(phone) {
        font-size: 0.9rem;
      }

      @include mix.respond(tablets) {
        font-size: 1rem;
      }

      @include mix.respond(bigTablets) {
        font-size: 1.05rem;
      }

      @include mix.respond(desktop) {
        font-size: 1.05rem;
      }

      @include mix.respond(bigDesktop) {
        font-size: 1.5rem;
      }
    }
  }
}
