@use "./../../abstract/responsive" as mix;
.booknow {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("./../../../src/assets/images/mdel3ob9yrlrdb4rfttw.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include mix.respond(smallPhone) {
  }

  &-main {
    display: flex;
    justify-content: space-between;
    width: 80%;

    @include mix.respond(smallPhone) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include mix.respond(tablets) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-container {
      background-color: white;
      height: 40%;
      width: 40%;
      padding: 8rem;
padding-left: 4rem;

      @include mix.respond(smallPhone) {
        height: 70%;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.5);
      }

      @include mix.respond(tablets) {
        height: 60%;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.5);
      }

      &-para {
        font-weight: 600;
        font-size: 3.8rem;
        margin-bottom: 10rem;
color: rgb(27, 27, 27);
width: 28rem;
line-height: 5.2rem;

        @include mix.respond(smallPhone) {
          font-size: 1.5rem;
          font-weight: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        @include mix.respond(tablets) {
          font-size: 2rem;
          margin-bottom: 5rem;
        }
      }
      &-book {
        background-color: rgb(12, 12, 184);
        color: white;
        height: 3.5rem;
        width: 16rem;
        border: none;
        font-size: 1.3rem;
        font-weight: 400;
        border-radius: 3rem;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);

        @include mix.respond(smallPhone) {
          width: 8rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @include mix.respond(tablets) {
          width: 8rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
