* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden !important;
  background-color: rgb(255, 255, 255);
}

.featureList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  height: 20rem;
}
@media only screen and (max-width: 575.98px) {
  .featureList {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .featureList {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .featureList {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
  }
}
.featureList-item {
  text-align: center;
  padding-top: 1rem;
}
.featureList-item-icon {
  font-size: 24px;
  color: black;
  width: 120px;
  height: 120px;
  transition: transform 0.3s ease;
}
.featureList-item-icon:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 575.98px) {
  .featureList-item-icon {
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }
}
.featureList-item-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.featureList-item-description {
  font-size: 14px;
  margin-bottom: 2px;
}
.featureList-item-smallText {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.bed {
  height: 140vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 35%), url("https://res.cloudinary.com/dzuqczvb7/image/upload/v1744820786/xj48254mxsaojltznoyt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 575.98px) {
  .bed {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0) 85%), url("https://res.cloudinary.com/dzuqczvb7/image/upload/v1744820786/xj48254mxsaojltznoyt.jpg");
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .bed {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0) 85%), url("https://res.cloudinary.com/dzuqczvb7/image/upload/v1744820786/xj48254mxsaojltznoyt.jpg");
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .bed {
    height: 100vh;
  }
}
.bed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 5rem;
}
@media only screen and (max-width: 575.98px) {
  .bed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .bed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-top: 5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .bed-container {
    padding-top: 10rem;
  }
}
.bed-container-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 4rem;
  font-weight: 600;
  width: 50%;
  height: 20%;
  text-align: center;
}
@media only screen and (max-width: 575.98px) {
  .bed-container-text {
    font-size: 2.5rem;
    text-align: center;
    width: 80%;
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .bed-container-text {
    font-size: 3rem;
    text-align: center;
    width: 80%;
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .bed-container-text {
    font-size: 2rem;
    text-align: center;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .bed-container-text {
    font-size: 3.9rem;
    text-align: center;
    width: 80%;
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .bed-container-text {
    font-size: 3.9rem;
    text-align: center;
    width: 80%;
    padding-top: 1rem;
  }
}
.bed-container-note {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  color: #000000;
  width: 40%;
  line-height: 1.5;
  font-weight: 500;
}
@media only screen and (max-width: 575.98px) {
  .bed-container-note {
    font-size: 1rem;
    width: 90%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .bed-container-note {
    font-size: 1.5rem;
    width: 95%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .bed-container-note {
    font-size: 1rem;
    width: 95%;
  }
}
.bed-container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 4rem;
  width: 11rem;
  font-size: 1.1rem;
  border-radius: 3rem;
  border: none;
  background-color: #fff;
  font-weight: 600;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.bed-container-button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 575.98px) {
  .bed-container-button {
    height: 2rem;
    width: 8rem;
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .bed-container-button {
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
@media only screen and (max-width: 575.98px) {
  .navbar {
    padding: 1rem 1rem;
  }
}
.navbar-logo h1 {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(7, 7, 179);
  line-height: 0.8;
}
@media only screen and (max-width: 575.98px) {
  .navbar-logo h1 {
    font-size: 1.5rem;
  }
}
.navbar-logo h1 span {
  color: blue;
}
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 575.98px) {
  .navbar-menu {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .navbar-menu {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .navbar-menu {
    display: none;
  }
}
.navbar-menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s;
}
.navbar-menu li a:hover {
  color: blue;
}
.navbar-icons {
  display: flex;
  gap: 0.5rem;
}
@media only screen and (max-width: 575.98px) {
  .navbar-icons {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .navbar-icons {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .navbar-icons {
    display: none;
  }
}
.navbar-icons-button {
  background-color: #fff;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
}
.navbar-icons-button:hover {
  color: blue;
}
.navbar-icons-button-icon {
  height: 1rem;
  width: 2rem;
}

.navigation {
  display: none;
  z-index: 100000;
}
@media only screen and (max-width: 575.98px) {
  .navigation {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .navigation {
    display: block;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .navigation {
    display: block;
  }
}

.navigation__checkbox {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  cursor: pointer;
  z-index: 30000;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .navigation__checkbox {
    top: 1rem;
    right: 1rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media only screen and (max-width: 575.98px) {
  .navigation__checkbox {
    top: 0.8rem;
    right: 0.8rem;
    height: 2rem;
    width: 2rem;
  }
}

.navigation__btn {
  position: relative;
  top: 0rem;
  right: 0rem;
  background-color: #f7f7f7;
  border-radius: 50%;
  text-align: center;
  z-index: 1000000000000000000000000000000000000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .navigation__btn {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media only screen and (max-width: 575.98px) {
  .navigation__btn {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.navigation__background {
  background-image: radial-gradient(#322486, #030637, black);
  height: 6rem;
  width: 6rem;
  border-radius: 0;
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 5000;
  transition: transform 0.5s;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .navigation__background {
    height: 5rem;
    width: 5rem;
    top: 5.5rem;
    left: 5.5rem;
  }
}
@media only screen and (max-width: 575.98px) {
  .navigation__background {
    height: 4rem;
    width: 4rem;
    top: 4.5rem;
    left: 4.5rem;
  }
}

.navigation__nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500000000;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all 0.2s;
  visibility: hidden;
  border-radius: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.navigation__list {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-weight: 900;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.navigation__item {
  margin: 0.5rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 900px) {
  .navigation__item {
    margin: 0;
  }
}
.navigation__link {
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

@media (max-width: 900px) {
  .navigation__link {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
@media (max-width: 900px) {
  .navigation__link {
    font-size: 1rem;
    font-weight: 500;
  }
}
.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  width: 100%;
  opacity: 1;
  background-color: #f0f0f0;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60);
  border-radius: 0;
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::after {
  transform: rotate(45deg);
  top: 0rem;
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::before {
  transform: rotate(-45deg);
  top: 0rem;
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon {
  background-color: transparent;
}

.navigation__icon {
  position: relative;
}

.navigation__icon,
.navigation__icon::after,
.navigation__icon::before {
  display: inline-block;
  background-color: rgb(59, 59, 59);
  width: 1.5rem;
  height: 3px;
  transition: all 0.3s;
}

.navigation__icon::after,
.navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::after {
  top: 0.4rem;
}

.navigation__icon::before {
  top: -0.4rem;
}

.navigation__btn:hover .navigation__icon::after {
  transform: translateY(0.1rem);
}

.navigation__btn:hover .navigation__icon::before {
  transform: translateY(-0.1rem);
}

.nav-item:last-child {
  margin-left: auto;
}

.navigation__item a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
}
.navigation__item a.active {
  color: #000;
  background-color: transparent;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.navigation__nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500000000;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all 0.2s;
  visibility: hidden;
  border-radius: 0;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.navigation__item.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.navigation__item.social-icons .nav-social-icon {
  font-size: 1.5rem;
  transition: color 0.3s;
}

.productList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 95vh;
  margin-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media screen and (min-width: 350px) and (max-width: 380px) {
  .productList {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    height: 95vh !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .productList {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 75vh;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productList {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productList {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productList {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productList {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productList {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.productList-title {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 4.5rem;
}
@media only screen and (max-width: 575.98px) {
  .productList-title {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productList-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productList-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productList-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productList-title {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productList-title {
    font-size: 2.3rem;
    margin-bottom: 3.5rem;
  }
}
.productList-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 10rem;
}
.productList-item {
  background: #f8f8f8;
  border-radius: 50px;
  padding: 25px;
  height: 20rem;
  cursor: pointer;
}
@media only screen and (max-width: 575.98px) {
  .productList-item {
    border-radius: 8px;
    padding: 1rem;
    height: 30rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productList-item {
    border-radius: 8px;
    padding: 1rem;
    height: fit-content;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productList-item {
    border-radius: 12px;
    padding: 1rem;
    height: fit-content;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productList-item {
    border-radius: 18px;
    padding: 1rem;
    height: fit-content;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productList-item {
    border-radius: 24px;
    padding: 1rem;
    height: fit-content;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productList-item {
    border-radius: 36px;
    padding: 1rem;
    height: fit-content;
  }
}
.productList-item-image {
  width: 50%;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.productList-item-image:hover {
  transform: scale(1.05);
}
.productList-item-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 14px;
}
@media only screen and (max-width: 575.98px) {
  .productList-item-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productList-item-title {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productList-item-title {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productList-item-title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productList-item-title {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productList-item-title {
    font-size: 1.6rem;
  }
}
.productList-item-price {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(177, 42, 42);
}
@media only screen and (max-width: 575.98px) {
  .productList-item-price {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productList-item-price {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productList-item-price {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productList-item-price {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productList-item-price {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productList-item-price {
    font-size: 1.6rem;
  }
}
.productList-item-msrp {
  font-size: 16px;
  margin-top: 1rem;
  color: gray;
}
@media only screen and (max-width: 575.98px) {
  .productList-item-msrp {
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productList-item-msrp {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productList-item-msrp {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productList-item-msrp {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productList-item-msrp {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productList-item-msrp {
    font-size: 1.2rem;
  }
}
.productList-item-msrp-strike {
  text-decoration: line-through;
}
.productList-item-msrp-discount {
  color: rgb(177, 42, 42);
  font-weight: bold;
  font-size: 16px;
}
.productList-buttons {
  margin-top: 1rem;
  display: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 6rem;
}
@media only screen and (max-width: 575.98px) {
  .productList-buttons {
    padding: 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productList-buttons {
    padding: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productList-buttons {
    padding: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productList-buttons {
    padding: 3rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productList-buttons {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productList-buttons {
    padding: 5rem;
  }
}
.productList-buttons-explore, .productList-buttons-contact {
  padding: 15px 30px;
  border-radius: 1.2rem;
  border: 2px solid blue;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 350px) and (max-width: 380px) {
  .productList-buttons-explore, .productList-buttons-contact {
    padding: 0.8rem 0.7rem !important;
    font-size: 0.7rem !important;
    border-radius: 0.7rem !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .productList-buttons-explore, .productList-buttons-contact {
    padding: 1rem 0.7rem;
    font-size: 0.85rem;
    border-radius: 0.7rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productList-buttons-explore, .productList-buttons-contact {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productList-buttons-explore, .productList-buttons-contact {
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productList-buttons-explore, .productList-buttons-contact {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productList-buttons-explore, .productList-buttons-contact {
    padding: 1rem 2rem;
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productList-buttons-explore, .productList-buttons-contact {
    padding: 1rem 2rem;
    font-size: 1.05rem;
  }
}
.productList-buttons-explore:hover, .productList-buttons-contact:hover {
  transform: scale(1.05);
}
.productList-buttons-explore {
  background: rgb(0, 0, 184);
  color: white;
  border: none;
}
.productList-buttons-contact {
  background: white;
  color: blue;
}
.productList .swiper {
  width: 100%;
  height: 100%;
}
.productList .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productList .swiper-slide img {
  display: block;
  width: 80%;
  height: 70%;
  object-fit: contain;
  margin: 0 auto;
}

.blueline {
  width: 100%;
  height: 4rem;
  background-color: #c0ddff;
}

.productDetails {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100vh;
  width: 100%;
  padding: 5rem 8.5rem;
}
@media only screen and (max-width: 575.98px) {
  .productDetails {
    padding: 5px;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productDetails {
    padding: 5px;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productDetails {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productDetails {
    padding: 2rem;
    height: fit-content;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails {
    padding: 6rem;
    height: 60vh;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails {
    padding: 7rem;
    height: 80vh;
  }
}
.productDetails-container {
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 575.98px) {
  .productDetails-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productDetails-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productDetails-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productDetails-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-left: 8rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails-container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    padding-left: 8rem;
  }
}
@media only screen and (max-width: 575.98px) {
  .productDetails-container-image {
    width: 70%;
    height: 70%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productDetails-container-image {
    width: 60%;
    height: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productDetails-container-image {
    width: 60%;
    height: 60%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productDetails-container-image {
    width: 40%;
    height: 40%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails-container-image {
    width: 42%;
    height: 42%;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails-container-image {
    width: 35%;
    height: 35%;
  }
}
.productDetails-container-details {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media only screen and (max-width: 575.98px) {
  .productDetails-container-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productDetails-container-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productDetails-container-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productDetails-container-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails-container-details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 8rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails-container-details {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-right: 8rem;
  }
}
.productDetails-container-details-smallhead {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(99, 99, 99);
}
@media only screen and (max-width: 575.98px) {
  .productDetails-container-details-smallhead {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productDetails-container-details-smallhead {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productDetails-container-details-smallhead {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productDetails-container-details-smallhead {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails-container-details-smallhead {
    font-size: 1.15rem;
  }
}
.productDetails-container-details-head {
  font-size: 3.2rem;
  font-weight: 600;
}
@media only screen and (max-width: 575.98px) {
  .productDetails-container-details-head {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productDetails-container-details-head {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productDetails-container-details-head {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productDetails-container-details-head {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails-container-details-head {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails-container-details-head {
    font-size: 3rem;
  }
}
.productDetails-container-details-description {
  font-size: 1.5rem;
  font-weight: 500;
  width: 38rem;
}
@media only screen and (max-width: 575.98px) {
  .productDetails-container-details-description {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    width: 90%;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productDetails-container-details-description {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5;
    width: 90%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productDetails-container-details-description {
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productDetails-container-details-description {
    font-size: 1.3rem;
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails-container-details-description {
    font-size: 1.1rem;
    width: 90%;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails-container-details-description {
    font-size: 1.25rem;
    width: 75%;
  }
}
.productDetails-container-details-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 3.5rem;
  width: 16rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 575.98px) {
  .productDetails-container-details-button {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productDetails-container-details-button {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productDetails-container-details-button {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productDetails-container-details-button {
    font-size: 1.2rem;
    width: 14rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails-container-details-button {
    font-size: 1.3rem;
    width: 16rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails-container-details-button {
    font-size: 1.4rem;
    width: 16rem;
  }
}
.productDetails-container-details-button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.productDetails-container-details-button-icon {
  font-size: 1.6rem;
  margin-left: 0.5rem;
  width: 2rem;
}
.productDetails-container-details-features {
  display: flex;
  gap: 2rem;
}
.productDetails-container-details-features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.productDetails-container-details-features-item h5 {
  font-size: 1rem;
  font-weight: 400;
}
.productDetails .swiper-slide img {
  width: 40%;
  height: 80vh;
  margin: 0;
  object-fit: cover;
  object-position: center;
}
@media only screen and (max-width: 575.98px) {
  .productDetails .swiper-slide img {
    width: 80%;
    height: 40vh;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .productDetails .swiper-slide img {
    width: 80%;
    height: 40vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .productDetails .swiper-slide img {
    width: 80%;
    height: 40vh;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .productDetails .swiper-slide img {
    width: 80%;
    height: 40vh;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails .swiper-slide img {
    width: 90%;
    height: 40vh;
    margin-left: 3rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails .swiper-slide img {
    width: 90%;
    margin-left: 4rem;
    height: 60vh;
  }
}
@media only screen and (max-width: 575.98px) {
  .productDetails .swiper-pagination-bullet {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 575.98px) {
  .productDetails .swiper-button-prev::after {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails .swiper-button-prev::after {
    font-size: 2rem;
    position: relative;
    left: 0rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails .swiper-button-prev::after {
    font-size: 2rem;
    position: relative;
    left: 0rem;
  }
}
@media only screen and (max-width: 575.98px) {
  .productDetails .swiper-button-next::after {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .productDetails .swiper-button-next::after {
    font-size: 2rem;
    position: relative;
    left: 0rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .productDetails .swiper-button-next::after {
    font-size: 2rem;
    position: relative;
    left: 0rem;
  }
}

.whyProducts {
  padding: 7rem;
  height: 90vh;
}
@media only screen and (max-width: 575.98px) {
  .whyProducts {
    padding: 2rem;
    height: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .whyProducts {
    padding: 3rem;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .whyProducts {
    padding: 3rem;
    height: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .whyProducts {
    padding: 3rem;
    height: 100%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .whyProducts {
    padding: 5rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .whyProducts {
    padding: 5rem;
    height: 100vh;
  }
}
.whyProducts-container {
  display: flex;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 100%;
  margin-top: 40px;
}
@media only screen and (max-width: 575.98px) {
  .whyProducts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .whyProducts-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 2.5rem;
    margin-top: 0px;
    padding: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .whyProducts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 2rem;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .whyProducts-container {
    gap: 3rem;
    margin-top: 0px;
  }
}
.whyProducts-container-title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
  width: 18rem;
  align-items: first baseline;
}
@media only screen and (max-width: 575.98px) {
  .whyProducts-container-title {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .whyProducts-container-title {
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .whyProducts-container-title {
    font-size: 3.8rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .whyProducts-container-title {
    font-size: 3rem;
  }
}
.whyProducts-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 5rem;
  margin-top: 38px;
}
@media only screen and (max-width: 575.98px) {
  .whyProducts-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3rem 1rem;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .whyProducts-container-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .whyProducts-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .whyProducts-container-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .whyProducts-container-grid {
    gap: 4rem 2rem;
    margin-top: 18px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .whyProducts-container-grid {
    gap: 7rem 2rem;
  }
}
.whyProducts-container-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.whyProducts-container-item-icon {
  font-size: 24px;
  color: black;
  margin-bottom: 1.8em;
}
@media only screen and (max-width: 575.98px) {
  .whyProducts-container-item-icon {
    font-size: 1rem;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .whyProducts-container-item-icon {
    font-size: 1.2rem;
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .whyProducts-container-item-icon {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .whyProducts-container-item-icon {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .whyProducts-container-item-icon {
    font-size: 1.5rem;
  }
}
.whyProducts-container-item-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: left;
}
@media only screen and (max-width: 575.98px) {
  .whyProducts-container-item-title {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .whyProducts-container-item-title {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .whyProducts-container-item-title {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .whyProducts-container-item-title {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .whyProducts-container-item-title {
    font-size: 1.1rem;
  }
}
.whyProducts-container-item-description {
  font-size: 18px;
  color: #070707;
  width: 20rem;
  text-align: left;
  width: 15rem;
  font-weight: 500;
}
@media only screen and (max-width: 575.98px) {
  .whyProducts-container-item-description {
    font-size: 0.5rem;
    width: 10rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .whyProducts-container-item-description {
    font-size: 0.8rem;
    width: 12rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .whyProducts-container-item-description {
    font-size: 1rem;
    width: 15rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .whyProducts-container-item-description {
    font-size: 0.9rem;
    width: 13rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .whyProducts-container-item-description {
    font-size: 0.9rem;
    width: 12rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .whyProducts-container-item-description {
    width: 18rem;
  }
}

.heroSection {
  background-color: #c0ddff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
}
@media screen and (min-width: 350px) and (max-width: 380px) {
  .heroSection {
    height: 40vh !important;
    padding: 2rem !important;
    justify-content: space-around !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .heroSection {
    height: 35vh;
    padding: 2rem;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .heroSection {
    height: 100vh;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .heroSection {
    height: 75vh;
  }
}
.heroSection-company {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 4rem 4rem 0;
  color: rgba(51, 51, 51, 0.8980392157);
  width: 3rem;
  text-align: center;
  line-height: 0.8;
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .heroSection-company {
    font-size: 1.8rem;
    width: 4rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .heroSection-company {
    font-size: 1.8rem;
    width: 3.5rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .heroSection-company {
    font-size: 2rem;
    width: 3rem;
    margin: 0 3rem 3rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .heroSection-company {
    font-size: 1.8rem;
    margin: 0 2rem 2rem 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .heroSection-company {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 575.98px) {
  .heroSection-company {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.heroSection-company span {
  font-weight: 800;
}
.heroSection-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #000;
  width: 60%;
  margin: 0 auto 15px;
  margin-top: 30px;
  text-align: center;
  max-width: 100%;
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .heroSection-title {
    font-size: 3rem;
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .heroSection-title {
    font-size: 3rem;
    width: 85%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .heroSection-title {
    font-size: 2.6rem;
    width: 85%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .heroSection-title {
    font-size: 2.2rem;
    width: 95%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .heroSection-title {
    font-size: 1.8rem;
    width: 90%;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 575.98px) {
  .heroSection-title {
    font-size: 1.15rem;
    margin-top: 1rem;
    font-weight: 600;
    width: 100%;
    max-width: 100%;
    padding: 0 1rem;
  }
}
.heroSection-subtitle {
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .heroSection-subtitle {
    font-size: 1.4rem;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .heroSection-subtitle {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .heroSection-subtitle {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .heroSection-subtitle {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .heroSection-subtitle {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 575.98px) {
  .heroSection-subtitle {
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.booknow {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dzuqczvb7/image/upload/v1744833553/dsleep-02_sn45rf.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 575.98px) {
  .booknow {
    align-items: top;
    height: 75vh;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .booknow {
    align-items: top;
    height: 75vh;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .booknow {
    justify-content: center;
    align-items: center;
  }
}
.booknow-main {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
@media only screen and (max-width: 575.98px) {
  .booknow-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .booknow-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .booknow-main {
    width: 60%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .booknow-main {
    width: 70%;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .booknow-main {
    width: 70%;
  }
}
.booknow-main-container {
  background-color: white;
  height: 40%;
  width: 40%;
  padding: 5rem;
  padding-left: 4rem;
}
@media only screen and (max-width: 575.98px) {
  .booknow-main-container {
    height: 30vh;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .booknow-main-container {
    height: 30vh;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .booknow-main-container {
    height: 50%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .booknow-main-container {
    height: 50%;
    width: 50%;
    padding: 4rem;
    padding-left: 4rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .booknow-main-container {
    height: 70vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .booknow-main-container {
    height: 55%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 6rem 4rem;
  }
}
.booknow-main-container-para {
  font-weight: 600;
  font-size: 3.8rem;
  margin-bottom: 10rem;
  color: rgb(27, 27, 27);
  width: 28rem;
  line-height: 5.2rem;
}
@media only screen and (max-width: 575.98px) {
  .booknow-main-container-para {
    font-size: 1rem;
    font-weight: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0rem;
    line-height: 1.2rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .booknow-main-container-para {
    font-size: 1.5rem;
    font-weight: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0rem;
    line-height: 2.5rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .booknow-main-container-para {
    font-size: 2rem;
    margin-bottom: 4rem;
    line-height: 2.8rem;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .booknow-main-container-para {
    font-size: 2.5rem;
    margin-bottom: 10rem;
    line-height: 3.2rem;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .booknow-main-container-para {
    font-size: 2.5rem;
    margin-bottom: 7rem;
    line-height: 3.8rem;
    width: fit-content;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .booknow-main-container-para {
    font-size: 2.5rem;
    margin-bottom: 0rem;
    line-height: 3.8rem;
    width: 100%;
  }
}
.booknow-main-container-book {
  background-color: rgb(12, 12, 184);
  color: white;
  height: 3.5rem;
  width: 16rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 575.98px) {
  .booknow-main-container-book {
    width: fit-content;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .booknow-main-container-book {
    width: fit-content;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .booknow-main-container-book {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .booknow-main-container-book {
    width: 12rem;
    height: 2.8rem;
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .booknow-main-container-book {
    width: 14rem;
    height: 3rem;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .booknow-main-container-book {
    width: 15rem;
    height: 3rem;
    font-size: 1.3rem;
  }
}

.mattress {
  background-color: antiquewhite;
  height: 115vh;
  background-image: url("https://res.cloudinary.com/dzuqczvb7/image/upload/v1744833553/dsleep-01_lswz9x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white !important;
}
@media only screen and (max-width: 575.98px) {
  .mattress {
    height: 80vh;
    padding: 2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mattress {
    height: 85vh;
    padding: 2.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mattress {
    height: 100vh;
    background-image: url("https://res.cloudinary.com/dzuqczvb7/image/upload/v1744833553/dsleep-01_lswz9x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mattress {
    height: 100vh;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .mattress {
    height: 100vh;
    padding: 0rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .mattress {
    height: 135vh;
    padding: 0rem;
  }
}
.mattress-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  padding: 6rem;
  gap: 2rem;
}
@media only screen and (max-width: 575.98px) {
  .mattress-container {
    padding: 1px;
    gap: 0.5rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mattress-container {
    padding: 1rem;
    gap: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mattress-container {
    padding: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mattress-container {
    padding: 3rem;
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .mattress-container {
    padding: 4rem;
    gap: 1.75rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .mattress-container {
    padding: 5rem;
    gap: 4rem;
  }
}
.mattress-container-para {
  color: black;
  font-weight: 500;
  font-size: 5rem;
  text-align: right;
  width: 60%;
}
@media screen and (min-width: 350px) and (max-width: 380px) {
  .mattress-container-para {
    width: 110% !important;
    font-size: 1.45rem !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .mattress-container-para {
    font-size: 1.45rem;
    width: 105%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mattress-container-para {
    font-size: 2rem;
    width: 95%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mattress-container-para {
    font-size: 3rem;
    width: 80%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mattress-container-para {
    font-size: 3.5rem;
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .mattress-container-para {
    font-size: 4rem;
    width: 65%;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .mattress-container-para {
    font-size: 4rem;
    width: 75%;
  }
}
.mattress-container-advice {
  color: black;
  text-align: left;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 575.98px) {
  .mattress-container-advice {
    font-size: 0.8rem;
    width: 100%;
    text-align: right;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mattress-container-advice {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mattress-container-advice {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mattress-container-advice {
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .mattress-container-advice {
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699.98px) {
  .mattress-container-advice {
    font-size: 1.5rem;
  }
}

.footer {
  background-color: #f0f0f0;
  padding: 40px 20px 10px 20px;
}
.footer-container {
  margin: 0 10%;
}
.footer-container-sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 575.98px) {
  .footer-container-sections {
    grid-template-columns: 1fr !important;
    text-align: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
}
.footer-container-sections h3 {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.footer-container-sections ul {
  list-style: none;
  padding: 0;
}
.footer-container-sections ul li {
  margin-bottom: 10px;
  color: #666;
  cursor: pointer;
}
.footer-container-sections ul li a {
  color: #666;
  text-decoration: none;
}
.footer-container-sections ul li a:hover {
  color: blue;
}
.footer-container-sections ul li:hover {
  color: #333;
}
.footer-container-sections .social-icons {
  display: flex;
  gap: 15px;
}
.footer-container-sections .social-icons a {
  color: #666;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.footer-container-sections .social-icons a:hover {
  color: blue;
}
.footer-container-copyright {
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  color: #666;
}
.footer-container-copyright span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #666;
  margin-top: 1.5rem;
}
.footer-container-copyright span a {
  color: #666;
  text-decoration: none;
}
.footer-container-copyright span a:hover {
  color: blue;
}

.footer-container-sections-contact a {
  color: #666;
  text-decoration: none;
}
.footer-container-sections-contact a:hover {
  color: blue;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .footer-container-sections .social-icons {
    justify-content: center;
  }
}
